/* Some Sass variables */
// Layout
$appbar-height: 50px;
$navbar-height: 44px;
$lists-margin-top: 10px;
$list-width: 290px;
$list-gap: 5px;
$gap: 10px;
$scrollbar-thickness: 17px;
$list-header-height: 36px;
$list-footer-height: 36px;
// Colors
$board-bg-color: #0079bf;
$list-bg-color: #e2e4e6;

body {
  margin: 0;
  // font-family: 'Roboto';
  // font-size: 14px;
  line-height: 1.3em;
}

.ui {
  height: calc(100vh - #{$appbar-height} - #{$navbar-height});

  display: grid;
  grid-template-rows: $appbar-height $navbar-height 1fr;
  //grid-template-columns: 100%;

  // background-color: $board-bg-color;
  background: url("@/assets/test_bg.webp");
  background-size: cover;

  color: #eee;
}
// TODO: Convert this to quasar variable, but I cannot get working quasar variables here!
@media only screen and (max-width: 599.99px) {
  // Do not render navbar-height here we don't show it on mobile view!
  .lists {
    height: calc(
      100vh - #{$appbar-height} - #{$lists-margin-top} - #{$navbar-height}
    );
  }
}

@media only screen and (min-width: 600px) {
  .lists {
    height: calc(
      100vh - #{$appbar-height} - #{$lists-margin-top} - #{$navbar-height}
    );
  }
}

.lists {
  display: flex;
  overflow-x: auto;
  margin-top: #{$lists-margin-top};

  margin-left: 5px;

  // List elements design
  > div > * {
    flex: 0 0 auto; // 'rigid' lists

    &:not(:last-child) {
      border-right: 4px solid rgba(255, 255, 255, 0.671);
    }
    // margin-right: $list-gap;
  }

  &::after {
    content: "";
    flex: 0 0 $gap;
  }
}

.listWrapper {
  height: calc(100% - #{$gap} - #{$scrollbar-thickness});
  background-color: #0d344e8a;
}
.list-group {
  height: calc(100% - 10px);
}
.list {
  width: $list-width;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  height: 100%;
  // height: calc(100% - #{$gap} - #{$scrollbar-thickness});
  > * {
    color: #333;
    padding: 0 $gap;
  }

  header {
    line-height: $list-header-height;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #0d344e;
  }

  footer {
    line-height: $list-footer-height;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;

    div {
      width: 100%;
    }
    .boardListAddCard:hover {
      background-color: #12517a;
    }
  }

  ul {
    list-style: none;
    margin: 0;

    // max-height: calc(100% - #{$list-header-height} - #{$list-footer-height});
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .listCard {
      margin-top: 10px;
      //Handling of multi-line strings
      white-space: pre-wrap;
      overflow-wrap: anywhere;
      background-color: #fff;
      padding: $gap;
      // &:not(:last-child) {
      //   margin-bottom: $gap;
      // }
      margin-bottom: $gap;

      .title {
        position: relative;
        z-index: 2;
      }
      .cardEditButton {
        position: absolute;
        z-index: 1;
        left: auto;
        bottom: 0;
        top: 0;
        right: 0;
        display: none;
      }
    }

    .listCard:hover {
      background-color: #cbcbcc;

      .cardEditButton {
        display: block;
      }
    }

    .draftCard {
      margin-top: $gap;
    }
  }
}
