.card-description {
  min-height: 100px;
  white-space: pre-wrap;
}

.card-description textarea {
  margin: 10px;
}

.checklistItemLabel {
  overflow-wrap: anywhere;
}

.checklistItemDone {
  text-decoration: line-through;
}
