.card-description {
  min-height: 100px;
  white-space: pre-wrap;
}

.card-description textarea {
  margin: 10px;
}

// .checklistItem {
//   display: flex;
//   flex-direction: row;
// }
// .checklistItemButtons {
//   margin-top: 5px;
//   margin-left: auto;
//   margin-right: 5px;
// }
// .checklistItem:hover {
//   background-color: #dddde0;
// }

.checklistItemLabel {
  overflow-wrap: anywhere;
}

.checklistItemDone {
  text-decoration: line-through;
}
